<launch>
    <node name="yolo_node" pkg="xr_tank" type="yolo_node" output="screen"></node>

    <node name="apriltag_node" pkg="xr_tank" type="apriltag_node" output="screen"></node>

    <include file="$(find xr_tank)/launch/joy_control.launch"></include>
    
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find xr_tank)/config/xr_tank_moveit.rviz"/>-->
    <!--<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>-->
</launch>
